<!--<h1 mat-dialog-title>Hi KEK</h1>-->
<!--<div mat-dialog-content>-->
  <!--<p>What's your favorite animal?</p>-->
  <!--&lt;!&ndash;<mat-form-field>&ndash;&gt;-->
    <!--&lt;!&ndash;<input matInput>&ndash;&gt;-->
  <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
<!--</div>-->
<!--<div mat-dialog-actions>-->
  <!--&lt;!&ndash;<button mat-button (click)="onNoClick()">No Thanks</button>&ndash;&gt;-->
  <!--&lt;!&ndash;<button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>&ndash;&gt;-->
<!--</div>-->
