<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td #td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Automobile </th>
    <td mat-cell *matCellDef="let element"> {{element.automobile}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Mileage </th>
    <td mat-cell *matCellDef="let element"> {{element.mileage}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Service </th>
    <td mat-cell *matCellDef="let element"> {{element.service}} </td>
  </ng-container>

  <ng-container matColumnDef="visit_time1">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.visit_time1}} </td>
  </ng-container>

  <ng-container matColumnDef="visit_time2">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.visit_time2}} </td>
  </ng-container>

  <ng-container matColumnDef="menu">
    <th mat-header-cell *matHeaderCellDef> Menu </th>
    <td mat-cell *matCellDef="let element">
      <button id="{{element.id}}" mat-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{id: element.id}">
        <p>I'm a menu button {{element.id}}</p>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)='showModal($event)'>Edit</button>
    <button mat-menu-item (click)='showSendForm()'>Send</button>
  </mat-menu>
</table>
